.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  padding: 0rem;
  margin: 0rem;
}
.home h1 {
  font-size: 2.5rem;
}

.total-saved {
  display: flex;
}

.total-saved-text {
  padding: 5px;
}

.total-saved-dollar {
  padding: 5px;
}

.description {
  text-align: center;
}
